<configuration>

    <!-- Console Appender for Log Output to Console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root logger configuration -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- Log level settings for specific packages or classes -->
    <logger name="com.automation.screens" level="DEBUG"/>
</configuration>
